html {
    overflow: hidden;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(60,60,157,1) 35%, rgba(0,212,255,1) 100%);
}
p { text-align:center; }
p.border {border-style: solid;}
canvas.centre
{
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    position: absolute;
    left: -80; 
    right: 0;
    bottom:0;
    top:-50;

    border: 1px solid #000000;
    transform-origin: center; 
    z-index: 1;
}
div.background
{
    position: absolute;
    left: -80; 
    right: 0;
    bottom:0;
    top:-50;
    width: 320px;
    height: 200px;
    border: 1px solid #000000;
    background-color: grey;
    transform-origin: center; 
    z-index: 0;
}
div.top
{
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    height: 70; 
    width: 240; 
    z-index: 99;
    position: absolute;
    background:#AAAAAA; 
    text-align: center; 
    margin: 0 auto;
}

div.right
{
    position: absolute;
    right:0;
    top: 50%;
    width: 100px; 
    height:600px;
    z-index: 99;
    background:#AAAAAA; 
    text-align: center; 
    transform-origin: center; 
    transform: translateY(-50%);
}

div.bottom
{
    position: absolute;
    left: 0; 
    right: 0;
    bottom:20;
    margin-left: auto; 
    margin-right: auto; 
    height: 70; 
    width: 500; 
    z-index: 99;
    background:#AAAAAA; 
    text-align: center; 
}

div.left
{
    position: absolute;
    left:0;
    top:50%;
    height: 140; 
    width: 100; 
    z-index: 99;
    background:#AAAAAA; 
    text-align: center; 
    transform: translateY(-50%);
}

div.centre
{
    position: absolute;
    left: 0; 
    right: 0;
    bottom:0;
    top:0;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto; 
    margin-bottom: auto; 
    
    height: 50; 
    width: 100; 
    z-index: 1;
    background:#AAAAAA; 
    text-align: center; 
}

div.pal
{
    width: 20px; 
    height: 20px; 
    border: 1px solid #000000;
    margin-left: 12;
}